$red_color: #EB0028;
$black_color: #000;
$grey_color: #929292;

.main{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;

    &__card-img {
        width: 100%;
    }
    &__card-picture{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__card-type{
        font-weight: 700;
        color: $red_color;
        font-size: 0.625rem;
        margin: 0.5rem 0px 0.8rem 0px;
    }
    &__card-topic{
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.25rem;
        margin-bottom: 0.625rem;
    }
    &__card-description{
        font-weight: 400;
        font-size: 0.625rem;
        line-height: 1.125rem;
        color: $grey_color;
    }
    &__card-user{
        font-size: 0.625rem;
        color: $grey_color;
        display: flex;
        margin-bottom: 0.625rem;
    }
    &__card-author{
        font-weight: 500;
        color: $black_color;
        margin-right: 0.3125rem;
    }
    &__card-date {
        display: flex;
        align-items: center;

        &:before, &:after {
            content: '';
            background-color:#D7D7D7;
            width: 0.1875rem;
            height: 0.1875rem;
            border-radius: 50%;
            display: block;
            margin-right: 0.3125rem;
        }
        &:after{
            margin-left: 0.3125rem;
        }
    }
}

@media (min-width: 320px){
    .main{
        margin: 1.875rem 2% 0 2%;

        &__card{
            width: 100%;
            margin: 0 0 2rem 0;
        }
    }
}
@media (min-width: 600px){
    .main{
        margin: 1.875rem 0 0 4%;
        &__card{
            width: 45%;
            margin: 0 5% 2rem 0;
            &:nth-child(2n){
                margin-right: 0;
            }
        }
    }
}
@media (min-width: 1024px){
    .main{
        margin: 1.875rem 0 0 0;
        justify-content: center;
        &__card{
            width: 25%;
        }
        &:nth-child(2n){
            margin-right: 5%;
        }
        &:nth-child(3n){
            margin-right: 0;
        }
    }
}