mixin topic-card(type, topic, image)
  .main__card
    .main__card-img
      img.main__card-picture(src=image, alt="Картинка")
    .main__card-type=type
    .main__card-topic=topic
    .main__card-user
      span.main__card-author Надя Дикович
      span.main__card-date July 20 2011
      span.main__card-views 3M Views
    .main__card-description Крутая фотография человека.

main
    .main
      +topic-card("Gotstile", "Ты видишь много чёрной одежды", '../media/png/1.png')
      +topic-card("Lifestile", "Ты видишь мой любимый лук на весну моему парню", '../media/png/2.png')
      +topic-card("Summer Stile", "Ты видишь мой любимый лук на лето", '../media/png/3.png')
      +topic-card("Summer Stile", "Ты видишь лук для похода в кафе с девушкой", '../media/png/4.png')
      +topic-card("Summer Pool Party Stile", "Ты видишь мой любимы лук на вечеринку в бассейне", '../media/png/5.png')
      +topic-card("Kino Stile", "Ты видишь женщину заваражённо смотрящую кино", '../media/png/6.png')
      +topic-card("Summer Stile", "Ты видишь крутые луки для похода в кафе с друзьями", '../media/png/7.png')
      +topic-card("Summer Sea Stile", "Ты видишь девушку купающуюся в море на закате", '../media/png/8.png')
      +topic-card("Party Stile", "Ты видишь круто танцующих людей в клубе вечером", '../media/png/9.png')